@charset "UTF-8";

.gnb-sub.bgw {background:#fff}
.gnb-sub.bgw .btn {margin-top:5px}
.gnb-sub .header-menu .btn-alarm {position:relative;width:26px;height:24px;background:url(../../../images/new/user/btn-alarm.svg) center no-repeat;}
.gnb-sub .header-menu .btn-alarm .num {position:absolute;top:0;right:0;width:15px;height:10px;border-radius:12px;border:1px solid #FFF;background:#4D67DF;text-align:center;font-size:8px;font-weight:700;line-height:8px;color:#fff}
.gnb-sub .header-menu .btn-hamburger {width:24px;height:24px}

.user-home {padding-top:73px; font-family: "GmarketSans";}
.tabwrap {background:#F2F4FD;padding:20px 20px 40px;border-bottom-left-radius:20px;border-bottom-right-radius:20px;box-shadow: 0 3px 10px rgba(0,0,0,.15)}
.tabwrap .tab-list ul {display:flex;justify-content:space-between;}
.tabwrap .tab-link {display:block;font-size:14px;font-weight:500;color:#9E9E9E;line-height:28px}
.tabwrap .tab-link.active {color:#000;border-bottom:1.5px solid #000}
.tabwrap .tab-cont {display:none;margin-top:30px}
.tabwrap .tab-cont.active {display:block}


.tab-cont.type2 {margin-left:-20px;margin-right:-20px}
.banner-swiper {position:relative;padding:2px 2px 4px 2px;overflow:hidden}
.banner-swiper a {position:relative;display:block;width:88%;height:60px;border-radius:10px;box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.15);background:#F9FAFC;margin-right:8px;padding:14px 20px;box-sizing:border-box; font-family: "GmarketSans";}
.banner-swiper a span {display:block;font-size:10px;font-weight:300;line-height:14px;}
.banner-swiper a strong {position:relative;display:inline-block;font-size:12px;font-weight:400;line-height:14px;padding-right:8px}
.banner-swiper a strong:after {content:'';position:absolute;top:3px;right:0;background: url(../../../images/new/user/ico-arr.svg) center no-repeat;width:7px;height:8px;}
.banner-swiper .ico1:after {content:'';position:absolute;right:20px;top:5px;background: url(../../../images/new/user/ico-alarm1.svg) center no-repeat;width:46.8px;height:45.9px;background-size:100%}
.banner-swiper .ico2:after {content:'';position:absolute;right:20px;top:5px;background: url(../../../images/new/user/ico-alarm2.svg) center no-repeat;width:43px;height:43px;background-size:100%}
.banner-swiper .ico3:after {content:'';position:absolute;right:20px;top:5px;background: url(../../../images/new/user/ico-alarm3.svg) center no-repeat;width:50px;height:45px;background-size:100%}
.banner-swiper.nonslide a strong:after {display:none}
.banner-swiper.nonslide a {margin-left:20px;width:calc(100% - 40px)}
.info-swiper {overflow:hidden;padding:2px 2px 8px 2px;margin-top:20px}
.info-swiper li {width:50% !important}
.info-swiper .box-list li a .title {overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;
height:35px}
.info-swiper .box-list li + li {margin-top:0}
.info-swiper .box-list li a .badge {background:#666;border:1px solid #666;color:#fff}
.info-swiper .box-list li a .top {margin-bottom:14px;}
.info-swiper .box-list li a .detail {border-top:1px solid #DDD;padding-top:14px}
.box-list li {width:100%;border-radius:20px;border:1px solid #F4F4F4;background:#FFF;box-shadow:1px 1px 6px 0px rgba(0, 0, 0, 0.10);}
.box-list li a {display:block;width:100%;height:100%;padding:20px;box-sizing:border-box}
.box-list li a .top {height:19px;line-height:19px;margin-bottom:10px}
.box-list li a .top:after {content:'';display:block;clear:both}
.box-list li a .badge {display:inline-block;width:auto;height:19px;padding:0 10px;border-radius:50px;border:1px solid #9E9E9E;color:#8A8A8A;font-size:11px;font-weight:400;background:#fff;line-height:18px;font-family:"Gmarket Sans";}
.box-list li a .date {float:right;color:#8A8A8A;text-align: right;font-size:10px;font-weight:400;}
.box-list li a .title {color:#222;font-size:14px;font-weight:400;line-height:18px;}
.box-list li a .detail {color:#8A8A8A;font-size:12px;font-weight:400;margin-top:10px;}
.box-list li a .detail p + p {margin-top:6px}
.box-list li + li {margin-top:20px}
.box-list li a .badge.type1 {background: #C03DEE;color:#fff;border:1px solid #C03DEE}
.box-list li a .badge.type2 {background: #066FB7;color:#fff;border:1px solid #066FB7}
.box-list li a .badge.type3 {background: #F86B3E;color:#fff;border:1px solid #F86B3E}
.box-list li a .badge.type4 {background: #009760;color:#fff;border:1px solid #009760}
.box-list li a .badge.type5 {background: #02A7CC;color:#fff;border:1px solid #02A7CC}
.box-list li a .badge.type6 {background: #9E9E9E;color:#fff;border:1px solid #9E9E9E}
.box-list li a .badge.type7 {background: #308ECC;color:#fff;border:1px solid #308ECC}
.box-list li a .badge.type8 {background: #12A73D;color:#fff;border:1px solid #12A73D}
.box-list li a .badge.type9 {background: #6561FF;color:#fff;border:1px solid #6561FF}
.box-list li a .date .join {display:inline-block;background: url(../../../images/new/user/ico-join.svg) left center no-repeat;background-size:18px 18px;padding-left:20px;color:#8A8A8A;font-size:12px;font-weight:400;}
.box-list li a .date strong {display:inline-block;color:#8A8A8A; font-size:12px;font-weight:500;margin-left:10px}

.calendar {margin:0 -20px 20px;background:#fff;padding:24px 20px;border-top:1px solid #DFDFDF;border-bottom:2px solid #DFDFDF;background:#FFF;}
.calendar .tit-wrap {margin-top:0}
.calendar .schedule {display:flex;margin-top:16px;justify-content:space-between;}
.calendar .schedule li {text-align:center;padding:10px 0}
.calendar .schedule span {display:block}
.calendar .schedule .text {color:#8A8A8A;font-size:12px;font-weight:400;line-height:16px}
.calendar .schedule .num {color:#000;font-size:14px;font-weight:400;line-height:18px}
.calendar .schedule .on {padding:10px 4px;background:#4D67DF;border-radius:50px}
.calendar .schedule .on .text,
.calendar .schedule .on .num {color:#fff}

.tit-wrap {position:relative;margin-top:30px;font-family: "GmarketSans"}
.tit-wrap h2 {font-size:16px;font-weight:400;}
.tit-wrap.more {padding:0 20px}
.tit-wrap.more:after {content:'';position:absolute;top:10px;right:72px;width:calc(100% - 170px);height:.5px;background:#D4D4D4}
.tit-wrap .btmore {position:absolute;top:4px;right:20px;font-size:12px;font-weight:400;color:#9E9E9E}
.tit-wrap.type2 {margin-top:60px}

.user-info {margin-top:30px;padding:0 20px}
.user-event {display:flex;align-items:center;margin-top:20px;justify-content:space-between; }
.user-event li {border-radius:10px;border:1px solid #F4F4F4;background:#F9FAFC;box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.10);width:calc(50% - 6px);height:63px;box-sizing:border-box}
.user-event li a {position:relative;display:flex;align-items:center;width:100%;height:100%;font-size:11px;font-weight:400;padding-left:63px;box-sizing:border-box}
.user-event .ico1 {margin-right:6px;}
.user-event .ico1 a:before {content:'';position:absolute;top:6px;left:9px;width:50px;height:50px;background:url(../../../images/new/user/ico-pharmacy.svg) center no-repeat;background-size:100%}
.user-event .ico2 {margin-left:6px;}
.user-event .ico2 a:before {content:'';position:absolute;top:6px;left:9px;width:50px;height:50px;background:url(../../../images/new/user/ico-calendar.svg) center no-repeat;background-size:100%}

.user-info-list {display:flex;flex-wrap:wrap;margin-top:20px;justify-content: space-between;}
.user-info-list:before {content: "";order: 5;flex-basis: 100%;height:0;}
.user-info-list li:nth-child(1) {order: 1;}
.user-info-list li:nth-child(2) {order: 2;}
.user-info-list li:nth-child(3) {order: 3;}
.user-info-list li:nth-child(4) {order: 4;}
.user-info-list li:nth-child(5) {order: 6;}
.user-info-list li:nth-child(6) {order: 7;}
.user-info-list li:nth-child(7) {order: 8;}
.user-info-list li:nth-child(8) {order: 9;}
.user-info-list li:nth-child(n+5) {margin-top:20px;}

.user-info-list li a {display:block;}
.user-info-list li a .ico {display:inline-block;width:63px;height:63px;padding:6px;border-radius:14px;border:1px solid#F4F4F4;background:#FFF;box-shadow:1px 1px 7px 0px rgba(118, 152, 253, 0.15);box-sizing:border-box;background-size:51px 51px !important} 

.user-info-list li a .ico.img1 {background:url(../../../images/new/user/ico-home1.svg) center no-repeat;}
.user-info-list li a .ico.img2 {width:63px;height:63px;background:url(../../../images/new/user/ico-home2.svg) center no-repeat;}
.user-info-list li a .ico.img3 {width:63px;height:63px;background:url(../../../images/new/user/ico-home3.svg) center no-repeat;}
.user-info-list li a .ico.img4 {width:63px;height:63px;background:url(../../../images/new/user/ico-home4.svg) center no-repeat;}
.user-info-list li a .ico.img5 {width:63px;height:63px;background:url(../../../images/new/user/ico-home5.svg) center no-repeat;}
.user-info-list li a .ico.img6 {width:63px;height:63px;background:url(../../../images/new/user/ico-home6.svg) center no-repeat;}
.user-info-list li a .ico.img7 {width:63px;height:63px;background:url(../../../images/new/user/ico-home7.svg) center no-repeat;}
.user-info-list li a .ico.img8 {width:63px;height:63px;background:url(../../../images/new/user/ico-home8.svg) center no-repeat;}
.user-info-list li a .text {display:block;margin-top:10px;color:#222;font-size:12px;font-weight: 400;letter-spacing:-1px;text-align:center;}
.user-event.type2 a {color:#000;font-size:11px;font-weight:400;line-height:14px;}
.user-event.type2 .ico3 {margin-right:6px;}
.user-event.type2 .ico3 a:before {content:'';position:absolute;top:17px;left:17px;width:31px;height:21px;background:url(../../../images/new/ico-reservation.png) center no-repeat;background-size:100%}
.user-event.type2 .ico4 {position:relative;margin-left:6px;}
.user-event.type2 .ico4 a:before {content:'';position:absolute;top:17px;left:17px;width:35px;height:34px;background:url(../../../images/new/ico-calender.png) center no-repeat;background-size:100%}
.user-event.type2 .ico4 .abtxt {top:0;left:0;position:absolute;width:100%;height:100%;border-radius:10px;background:rgba(0,0,0,.75);z-index:5;color:#fff;font-size:12px;font-weight:400;line-height:14px;text-align:center;padding-top:15px}
.user-event.type2 .ico4 .abtxt strong {display:block;font-weight:500;line-height:15px}


.floating {position:fixed;bottom:110px;right:20px;width:180px;display:flex;z-index:50;align-items:center;justify-content:space-between;}
.floating .weather {display:inline-block;width:60px;height:60px;box-shadow:0px 0px 6px rgba(0, 0, 0, 0.30);border-radius:50%;z-index:20;background:#fff;z-index:10;text-align:center}
.floating .weather img {width:28px;display:inline-block;padding-top:7px}
.floating .weather span {display:block;text-align:center;font-size:11px;font-weight:400;letter-spacing:-0.44px;}
.floating .tip {width:112px;height:40px;background:url(../../../images/new/user/tooltipbg.svg) no-repeat;color:#FFF;font-size:11px;font-weight:400;line-height:13px;text-align:center;padding-top:7px;box-sizing:border-box;animation-name:fadein;animation-delay:.5s;animation-duration:4s;animation-iteration-count:1;opacity:0}
.floating .tip span{display:inline-block;margin-left:-3px}
@keyframes fadein {
    0% {opacity:0;}
    30% {opacity:1;}
    70% {opacity:1;}
    100% {opacity:0;}
}

.popup-style .popup.pop-weader {padding:20px;margin-top:-70px;background:#F2F4FD; font-family: "GmarketSans"}
.popup.pop-weader ul.weader-list > li {padding:16px 0;}
.popup.pop-weader ul.weader-list > li + li {border-top:1px solid #D2D2D2}
.popup.pop-weader .tit-wrap.more {padding:0 10px 0;margin-top:0}
.popup.pop-weader .tit-wrap.more h2 {text-align:left}
.popup.pop-weader .tit-wrap.more:after {display:none}
.popup.pop-weader .tit-wrap .btmore {top:1px;right:10px}
.weader-info {border-radius:10px;background:linear-gradient(86deg, #6586DE -15.51%, #F39999 107.89%);box-shadow: 0px 0px 10px 0px rgba(167, 178, 228, 0.50);padding:16px 20px;width:100%;margin-top:11px;color:#fff}

.popup.pop-weader .top {text-align:left}
.popup.pop-weader .badge {display:inline-block;width:auto;padding:0 10px;border-radius:50px;border:1px solid #4D67DF;color:#fff;font-size:12px;font-weight:400;background:#4D67DF;font-family:"Gmarket Sans";line-height:24px}
.popup.pop-weader .action-buttons {width:60px;height:60px;left:auto;bottom:auto;margin-top:10px;border-radius:50%;text-align:center;bottom:-70px}
.popup.pop-weader .action-buttons button {color:#000;font-size:11px;font-weight:400;letter-spacing:-0.44px;background:url(../../../images/new/user/pop-close.svg) no-repeat 16px 8px #fff;background-size:28px 28px;padding-top:35px;box-sizing:border-box;border-right:0}

.weader-info.temperature {display:flex;justify-content:space-between;align-content:center;}
.weader-info.temperature .cont1 {text-align:left}
.weader-info.temperature .cont1 .climate1 img {width:16px;height:16px;vertical-align:middle;text-align:left}
.weader-info.temperature .cont1 .climate1 span{font-size:10px;font-weight:400;vertical-align:middle;text-align:left}
.weader-info.temperature .cont1 .climate2 {font-size:24px;font-weight:500;vertical-align:middle;margin-top:6px}
.weader-info.temperature .cont1 .climate2 .unit {font-size:14px;font-weight:400;vertical-align:middle}
.weader-info.temperature .cont2 ul {display:flex;align-content:center}
.weader-info.temperature .climate-list li {position:relative;width:44px;height:44px}
.weader-info.temperature .climate-list img {width:16px;height:16px}
.weader-info.temperature .climate-list li .text {font-size:8px;font-weight: 400;margin-top:4px}
.weader-info.temperature .climate-list li + li {margin-left:14px}
.weader-info.temperature .climate-list li:after {content:'';display:block;position:absolute;top:15px;width:1px;height:14px;background:#fff;right:-7px;}
.weader-info.temperature .climate-list li:last-child:after {display:none}
.weader-info.temperature .climate-list li span {display:block}
.weader-info.temperature .climate-list li .num {font-size:10px;font-weight:500;margin-top:6px}

.ico-mark {background:url(../../../images/new/user/ico-mark-s.svg) no-repeat 0 0 ;background-size:14px 14px;padding-left:20px;font-size:12px;
font-weight:500;text-align:left;line-height:14px}
.weader-info.rainfall .rainfall-time {display:flex;justify-content:space-between;align-items:center;margin-top:13px}
.weader-info.rainfall .rainfall-time li {position:relative;width:44px}
.weader-info.rainfall .rainfall-time li span {display:block}
.weader-info.rainfall .rainfall-time .txt1 {font-size:8px;font-weight:400;}
.weader-info.rainfall .rainfall-time .txt2 {font-size:10px;font-weight:500;margin-top:6px}
.weader-info.rainfall .rainfall-time li:after {content:'';display:block;position:absolute;top:5px;width:1px;height:14px;background:#fff;right:0}
.weader-info.rainfall .rainfall-time li:last-child:after {display:none}
.weader-info.rainfall .txt-info {font-size:7.5px;font-weight:400;line-height:9px;letter-spacing:-0.15px;margin-top:12px;text-align:left;text-indent:-6px;margin-left:6px;}
.weader-info.warter .address {position:relative;padding-left:36px;text-align:left;}
.weader-info.warter .address:after {content:'';display:block;position:absolute;top:-4px;left:0;width:30px;height:30px;background:url(../../../images/new/user/ico-mark-b.svg) no-repeat 0 0 }
.weader-info.warter .address dt {font-size:12px;font-weight:500;margin-top:5px} 
.weader-info.warter .address dd {font-size:10px;font-weight:400;margin-top:4px}
.weader-info.warter .cont ul {text-align:left;margin-top:8px}
.weader-info.warter .cont ul li {position:relative;width:50%;float:left;height:20px;line-height:20px;margin-top:6px;box-sizing:border-box}
.weader-info.warter .cont ul li span {display:inline-block}
.weader-info.warter .cont ul:after {content:'';display:block;clear:both}
.weader-info.warter .cont ul .time {position:relative;display:inline-block;padding-right:6px;margin-right:6px;width:32px;font-size:10px;font-weight:400;vertical-align:middle;text-align:right}
.weader-info.warter .cont ul .time:after {content:'';display:block;position:absolute;top:7px;width:1px;height:6px;background:#B5B5B5;right:0}
.weader-info.warter .cont ul .round {display:inline-block;border-radius:50%;width:20px;height:20px;font-size:8px;font-weight:500;line-height:20px;vertical-align:middle;text-align:center;margin-left:-4px}
.weader-info.warter .cont ul li .round.type1 {background:#0470B7;}
.weader-info.warter .cont ul li .round.type2 {background:#EC0808;}
.weader-info.warter .cont ul li strong {display:inline-block;width:37px;font-size:10px;font-weight:500;vertical-align:bottom;text-align:right;margin-left:-4px}
.weader-info.warter .cont ul li strong .unit {font-size:8px;font-weight:400;vertical-align:bottom}
.weader-info.warter .cont ul li:nth-child(2n) {padding-left:14px}
.weader-info.warter .cont ul li:nth-child(2n):after {content:'';display:block;position:absolute;top:2px;width:1px;height:16px;background:#fff;left:0}
