@charset "UTF-8";
@font-face {
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: pretendard, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  overflow-y: scroll;
}

ol,
ul {
  list-style: none;
}

input {
  border-radius: 0;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border-radius: none;
  padding: 0;
  background-color: transparent;
  border: none;
}

a:focus {
  border: red;
}

.gnb .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.gnb .icon-find {
  background: url(../../../images/new/ico-find.svg) center no-repeat;
}
.gnb .icon-cart {
  background: url(../../../images/new/ico-cart.svg) center no-repeat;
}
.gnb .icon-person {
  background: url(../../../images/new/ico-person.svg) center no-repeat;
}
.gnb .icon-hamburger {
  background: url(../../../images/new/ico-hamburger.svg) center no-repeat;
}

.weather-tide-container .icon {
  width: 18px;
  height: 18px;
  display: inline-block;
}
.weather-tide-container .icon-umbrella {
  background: url(../../../images/new/ico-umbrella.png) center no-repeat;
  background-size: 18px auto;
}
.weather-tide-container .icon-drop {
  background: url(../../../images/new/ico-drop.png) center no-repeat;
  background-size: 12px auto;
}
.weather-tide-container .icon-wind {
  background: url(../../../images/new/ico-wind.png) center no-repeat;
  background-size: 18px auto;
}

.icon-arrow-right-large {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background: url(../../../images/new/ico-arrow-right-large.svg) center no-repeat;
}
.icon-arrow-right-small {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  background: url(../../../images/new/icon-arrow-right-small.svg) center no-repeat;
}

@font-face {
  font-family: "GmarketSans";
  src: url("../../../fonts/new/GmarketSansLight.otf") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSans";
  src: url("../../../fonts/new/GmarketSansMedium.otf") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSans";
  src: url("../../../fonts/new/GmarketSansBold.otf") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("../../../fonts/new/Pretendard-Black.otf") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("../../../fonts/new/Pretendard-Bold.otf") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("../../../fonts/new/Pretendard-ExtraLight.otf") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("../../../fonts/new/Pretendard-Light.otf") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("../../../fonts/new/Pretendard-Medium.otf") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("../../../fonts/new/Pretendard-Regular.otf") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("../../../fonts/new/Pretendard-SemiBold.otf") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("../../../fonts/new/Pretendard-Thin.otf") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("../../../fonts/new/Pretendard-ExtraBold.otf") format("woff");
  font-weight: 800;
  font-style: normal;
}
header {
  box-sizing: border-box;
  padding: 20px;
}
header .logo {
  float: left;
}
header .logo * {
  display: block;
}
header .logo img {
  width: 80px;
}
header .main-toggle {
  width: 90px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: #dadfe4;
  border-radius: 20px;
}
header .main-toggle a {
  width: 50%;
  height: 100%;
  text-align: center;
  display: inline-block;
  color: #373737;
  font-size: 10px;
  font-family: Pretendard, sans-serif;
  font-weight: 500;
  line-height: 25px;
}
header .main-toggle a.active {
  color: #fff;
  background-color: #4a5df6;
  border-radius: 20px;
}
header .menu {
  float: right;
}
header .menu .gnb > li {
  float: left;
}
header .menu .gnb > li + li {
  margin-left: 8px;
}
header .wrapper {
  position: relative;
}
header .wrapper + .wrapper {
  margin-top: 20px;
}
header .wrapper:after {
  content: "";
  display: block;
  clear: both;
}

.relative {
  position: relative;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.bottom-nav .nav-item {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #999;
  font-size: 12px;
  padding-top: 36px;
}
.bottom-nav .nav-item.home {
  background: url(../../../images/new/navigation/01_02.svg) center top no-repeat;
}
.bottom-nav .nav-item.home.active {
  background-image: url(../../../images/new/navigation/01_01.svg);
}
.bottom-nav .nav-item.broadcast {
  background: url(../../../images/new/navigation/02_02.svg) center top no-repeat;
}
.bottom-nav .nav-item.broadcast.active {
  background-image: url(../../../images/new/navigation/02_01.svg);
}
.bottom-nav .nav-item.certificate {
  background: url(../../../images/new/navigation/03_02.svg) center top no-repeat;
}
.bottom-nav .nav-item.certificate.active {
  background-image: url(../../../images/new/navigation/03_01.svg);
}
.bottom-nav .nav-item.app {
  background: url(../../../images/new/navigation/04_02.svg) center top no-repeat;
}
.bottom-nav .nav-item.app.active {
  background-image: url(../../../images/new/navigation/04_01.svg);
}
.bottom-nav .popup-container {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: flex-end;
}
.bottom-nav .popup-container .popup {
  background-color: white;
  border-radius: 16px 16px 0 0;
  width: 100%;
  text-align: center;
  position: relative;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}
.bottom-nav .popup-container#popup-certificate.active .popup {
  bottom: 0;
}
.bottom-nav .popup-container#popup-certificate .popup {
  transition: bottom 0.3s;
  bottom: -570px;
}
.bottom-nav .popup-container#popup-broadcast.active .popup {
  bottom: 0;
}
.bottom-nav .popup-container#popup-broadcast .popup {
  transition: bottom 0.3s;
  bottom: -315px;
}
.bottom-nav .popup-container .close-btn {
  position: absolute;
  top: -36px;
  right: 16px;
  background: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.bottom-nav .popup-container .popup-title {
  height: 58px;
  line-height: 58px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.bottom-nav .popup-container .popup-description {
  font-size: 14px;
  color: #666;
  margin: 20px 0 30px;
}
.bottom-nav .popup-container .popup-image {
  margin-bottom: 30px;
}
.bottom-nav .popup-container .popup-image img {
  width: 120px;
  height: 120px;
  border-radius: 12px;
}
.bottom-nav .popup-container .tab-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 0 40px;
}
.bottom-nav .popup-container .tab-header li {
  width: 100%;
  position: relative;
}
.bottom-nav .popup-container .tab-header li a {
  display: block;
  font-size: 10px;
  line-height: 11px;
  color: #000;
  opacity: 0.4;
}
.bottom-nav .popup-container .tab-header li a.active {
  opacity: 1;
}
.bottom-nav .popup-container .tab-header li + li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
}
.bottom-nav .popup-container .tab-body {
  white-space: nowrap;
  overflow-x: auto;
  padding-bottom: 40px;
}
.bottom-nav .popup-container .tab-body li {
  display: inline-block;
  text-align: left;
}
.bottom-nav .popup-container .tab-body li > div {
  padding: 20px 30px;
  background-color: #cccccc;
  border-radius: 30px 10px 30px 10px;
  aspect-ratio: 313/308;
  position: relative;
  overflow: hidden;
}
.bottom-nav .popup-container .tab-body li > div .lock {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 400;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.bottom-nav .popup-container .tab-body li > div .lock-text {
  width: 100%;
  font-size: 15px;
  font-family: Pretendard, sans-serif;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 80px 0 0;
  background: url("../../../images/new/majesticons_lock.svg") center top no-repeat;
}
.bottom-nav .popup-container .tab-body li .certificate-title {
  font-size: 16px;
  font-weight: bold;
  font-family: Pretendard, sans-serif;
  line-height: 18px;
}
.bottom-nav .popup-container .tab-body li .certificate-name {
  font-size: 12px;
  margin-top: 14px;
  line-height: 1.4;
}
.bottom-nav .popup-container .tab-body li .certificate-no {
  font-size: 12px;
  line-height: 1.4;
}
.bottom-nav .popup-container .tab-body li .image-container {
  position: relative;
  min-height: 162px;
  margin-top: 14px;
  background-color: #fff;
  border-radius: 20px 6px 20px 6px;
}
.bottom-nav .popup-container .tab-body li .image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-style {
  display: none;
  z-index: 10000;
}
.popup-style.active {
  display: block;
}
.popup-style * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.popup-style .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-style .popup {
  position: relative;
  background-color: white;
  border-radius: 16px;
  width: 320px;
  text-align: center;
  padding: 30px 20px 78px;
}
.popup-style .search-box {
  display: flex;
}
.popup-style .dropdown-container {
  display: flex;
  margin-bottom: 10px;
}
.popup-style .dropdown-container .dropdown {
  width: 135px;
  margin: 0;
}
.popup-style .dropdown-container .dropdown + .dropdown {
  margin-left: 10px;
}
.popup-style .dropdown {
  width: 77px;
  margin-right: 10px;
}
.popup-style .dropdown + .search-input-container {
  width: 193px;
}
.popup-style .dropdown-select {
  width: 100%;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  background-color: white;
  font-size: 12px;
  font-family: Pretendard, sans-serif;
  cursor: pointer;
  border: 1px solid #c0c0c0;
}
.popup-style .search-input-container {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #c0c0c0;
}
.popup-style .search-input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  padding-left: 10px;
}
.popup-style .search-icon {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.popup-style .category-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
  margin-bottom: 20px;
}
.popup-style .category-buttons.three {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex: 1;
}
.popup-style .category-buttons.three .category-btn {
  flex: 1;
  gap: 5px;
}
.popup-style .separator {
  width: 40px;
  height: 1px;
  display: block;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.2);
}
.popup-style .category-btn {
  font-size: 12px;
  height: 40px;
  background-color: #eee;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.popup-style .category-btn:nth-child(5),
.popup-style .category-btn:nth-child(6) {
  grid-column: span 2;
}
.popup-style .category-btn.active {
  background-color: #1d3f92;
  color: white;
}
.popup-style .action-buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  border-radius: 0 0 16px 16px;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.popup-style .cancel-btn,
.popup-style .confirm-btn {
  flex: 1;
  padding: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.popup-style .cancel-btn {
  background-color: white;
  color: black;
  border-right: 1px solid #ddd;
}
.popup-style .confirm-btn {
  background-color: #1d3f92;
  color: white;
}
.popup-style .message-box {
  font-size: 16px;
  line-height: 18px;
}
.popup-style .popup-title {
  font-size: 16px;
  font-family: Pretendard, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: -10px;
}
.popup-style .dropdown-full {
  text-align: left;
  margin-top: 30px;
}
.popup-style .dropdown-full .dropdown-label {
  text-align: left;
  font-size: 17px;
  font-family: Pretendard, sans-serif;
  font-weight: bold;
  line-height: 18px;
}
.popup-style .dropdown-full .dropdown-label span {
  color: #ff0000;
}
.popup-style .dropdown-full .dropdown {
  width: 100%;
  display: block;
  margin-top: 10px;
}
.popup-style .file-upload {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid #c0c0c0;
  border-radius: 7px;
  margin-top: 20px;
  overflow: hidden;
}
.popup-style .file-label {
  height: 100%;
  width: 80px;
  text-align: center;
  line-height: 40px;
  background-color: #ccc;
  font-size: 12px;
  font-family: Pretendard, sans-serif;
  cursor: pointer;
  border-right: 1px solid #ddd;
}
.popup-style .file-input {
  display: none;
}
.popup-style .file-name {
  text-align: left;
  padding-left: 10px;
  font-size: 12px;
  color: #666;
  flex: 1;
}

.nav-item.active {
  color: #4a90e2;
}

.side-menu {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: #fff;
  z-index: 1000;
  display: none;
}
.side-menu.active {
  display: block;
}
.side-menu .logo {
  width: 80px;
  float: none;
  vertical-align: bottom;
}
.side-menu .logo-text {
  width: 70px;
  vertical-align: bottom;
  margin-left: 9px;
}
.side-menu-header {
  height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 16px;
  box-sizing: border-box;
}
.side-menu-header::after {
  content: "";
  display: block;
  clear: both;
}
.side-menu .relative {
  position: fixed;
  top: 71px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.side-menu .icon-close {
  width: 30px;
  height: 30px;
  background: url(../../../images/new/ico-close.png) center no-repeat;
  background-size: 30px auto;
  display: inline-block;
  float: right;
}
.side-menu ul a {
  display: block;
}
.side-menu ul a span {
  vertical-align: middle;
}
.side-menu .first {
  width: 130px;
  min-height: 100%;
  background-color: #f4f4f4;
}
.side-menu .first .separator:after {
  content: "";
  width: calc(100% - 46px);
  margin: 20px auto;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.side-menu .first > li > a {
  height: 54px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 13px;
}
.side-menu .first > li > a.active {
  background-color: #fff;
}
.side-menu .second {
  position: absolute;
  height: 100%;
  left: 131px;
  right: 0;
  top: 0;
  overflow-y: auto;
  background-color: #fff;
}
.side-menu .second > li {
  width: 100%;
  box-sizing: border-box;
}
.side-menu .second > li > a {
  height: 56px;
  font-size: 15px;
  padding: 20px 20px 20px 26px;
}
.side-menu .second > li .third > li {
  height: 38px;
}
.side-menu .second > li .third > li > a {
  font-size: 13px;
  line-height: 14px;
  padding: 12px 10px 12px 40px;
  opacity: 0.6;
}
.side-menu .second > li .third > li > a .icon-arrow-right-small {
  float: right;
}

.gnb-sub {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 23px 16px;
  background-color: #f5f5fb;
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
  z-index: 10000;
}
.gnb-sub .btn-back {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(../../../images/new/sub/ico-back.svg) center no-repeat;
}
.gnb-sub .header-menu {
  float: right;
}
.gnb-sub .header-menu .btn {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.gnb-sub .header-menu .btn + .btn {
  margin-left: 8px;
}
.gnb-sub .header-menu .btn-lock {
  background: url(../../../images/new/sub/ico-lock.svg) center no-repeat;
}
.gnb-sub .header-menu .btn-person {
  background: url(../../../images/new/sub/ico-person.svg) center no-repeat;
}
.gnb-sub .header-menu .btn-find {
  background: url(../../../images/new/sub/ico-find.svg) center no-repeat;
}
.gnb-sub .header-menu .btn-hamburger {
  background: url(../../../images/new/sub/ico-hamburger.svg) center no-repeat;
}

.content {
  padding-bottom: 30px;
}
.content .category {
  position: fixed;
  top: 74px;
  left: 0;
  right: 0;
}
.content .category > div {
  border-bottom: 1px solid #dddddd;
}
.content .category .depth-1 {
  width: 100%;
  position: relative;
  background-color: #f5f5fb;
}
.content .category .depth-1 .selected {
  color: #000;
  font-size: 14px;
  text-align: center;
  line-height: 19px;
  display: block;
  padding: 15px 0;
}
.content .category .depth-1 .selected span {
  vertical-align: middle;
  display: inline-block;
}
.content .category .depth-1 .selected span:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 16px;
  vertical-align: middle;
  margin-left: 17px;
  background: url(../../../images/new/sub/ico-triangle-down.svg) center center no-repeat;
}
.content .category .depth-1 .selected.active span:after {
  transform: scaleY(-1);
}
.content .category .depth-1 .selected.active + ul {
  display: grid;
  scrollbar-width: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #f4f4f4;
  z-index: 100;
}
.content .category .depth-1 .selected.active + ul::-webkit-scrollbar {
  display: none;
}
.content .category .depth-1 ul {
  display: none;
  grid-template-columns: repeat(2, 1fr); /* 2개의 열로 구성 */
}
.content .category .depth-1 ul li {
  text-align: left;
  padding: 20px;
}
.content .category .depth-1 ul li a {
  font-size: 13px;
  font-weight: 400;
}
.content .category .depth-2 {
  background-color: #fff;
}
.content .category .depth-2 ul {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 7px;
  padding: 15px 20px;
  scrollbar-width: none;
}
.content .category .depth-2 ul::-webkit-scrollbar {
  display: none;
}
.content .category .depth-2 ul li a {
  font-size: 14px;
  color: #717171;
  display: block;
  padding: 10px 16px;
  border-radius: 4px;
  background-color: #d9d9d9;
}
.content .category .depth-2 ul li a.active {
  color: #fff;
  background-color: #3d6ef8;
}
.content .category .depth-3 {
  background-color: #fff;
}
.content .category .depth-3 ul {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}
.content .category .depth-3 ul li {
  flex: 1;
}
.content .category .depth-3 ul li a {
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 15px 0;
  opacity: 0.5;
}
.content .category .depth-3 ul li a.active {
  border-bottom: 2px solid #000;
  opacity: 1;
}

header .weather-tide-container > div {
  width: calc(50% - 5px);
  float: left;
}
header .weather-tide-container > div + div {
  margin-left: 10px;
}
header .weather-tide-container .more {
  color: rgba(255, 255, 255, 0.5);
  float: right;
}
header .weather-tide-container h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family: GmarketSans, sans-serif;
}
header .weather-tide-container .info > img {
  width: 38px;
}
header .weather-tide-container .weather-info img {
  width: 38px;
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
}
header .weather-tide-container .weather-info .summary {
  color: #fff;
  line-height: 36px;
  font-size: 20px;
  font-family: GmarketSans, sans-serif;
  font-weight: 700;
  margin-left: 5px;
}
@media (max-width: 375px) {
  header .weather-tide-container .weather-info .summary {
    font-size: 18px;
  }
}
header .weather-tide-container .weather-info ul {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  font-family: Pretendard, sans-serif;
  font-weight: bold;
  margin-top: 6px;
  vertical-align: middle;
  padding: 0 5px;
}
header .weather-tide-container .weather-info ul li + li {
  margin-top: 10px;
}
header .weather-tide-container .weather-info ul i {
  margin-right: 20px;
  vertical-align: middle;
}
@media (max-width: 375px) {
  header .weather-tide-container .weather-info ul i {
    margin-right: 10px;
  }
}
header .weather-tide-container .weather-info ul span {
  vertical-align: middle;
}
header .weather-tide-container .weather-info ul span + span:before {
  width: 1px;
  height: 19px;
  content: "";
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
header .weather-tide-container .weather-info .reservation {
  padding: 0 20px;
  margin-top: 30px;
}
header .weather-tide-container .weather-info .reservation ul:after {
  content: "";
  display: block;
  clear: both;
}
header .weather-tide-container .weather-info .reservation ul li {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 74px;
  text-align: center;
  font-size: 14px;
  font-family: Pretendard, sans-serif;
  background-color: #fff;
  border-radius: 15px;
  padding: 22px 0 22px 15px;
  position: relative;
}
header .weather-tide-container .weather-info .reservation ul li img {
  width: 43px;
  display: inline-block;
}
header .weather-tide-container .weather-info .reservation ul li a {
  display: inline-block;
}
header .weather-tide-container .weather-info .reservation ul li .text {
  display: inline-block;
}
header .weather-tide-container .weather-info .reservation ul li span {
  text-align: left;
  display: block;
}
header .weather-tide-container .weather-info .reservation ul li .place {
  color: #111;
}
header .weather-tide-container .weather-info .reservation ul li .label {
  color: #4a5df6;
  font-weight: bold;
}
header .weather-tide-container .weather-info .reservation ul li + li {
  margin-top: 10px;
}
header .weather-tide-container .weather-info .reservation ul li.prepare {
  background-color: rgba(17, 17, 17, 0.53);
}
header .weather-tide-container .weather-info .reservation ul li.prepare span {
  color: #fff;
  font-size: 14px;
  font-family: GmarketSans, sans-serif;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .weather-tide-container .tide-info .reservation {
  padding: 0 0 0 20px;
  margin-top: 30px;
}
header .weather-tide-container .tide-info .reservation ul:after {
  content: "";
  display: block;
  clear: both;
}
header .weather-tide-container .tide-info .reservation ul li {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 74px;
  text-align: center;
  font-size: 14px;
  font-family: Pretendard, sans-serif;
  background-color: #fff;
  border-radius: 15px;
  padding: 22px 0 22px 15px;
  position: relative;
}
header .weather-tide-container .tide-info .reservation ul li img {
  width: 43px;
  padding-right: 5px;
  display: inline-block;
}
header .weather-tide-container .tide-info .reservation ul li a {
  display: flex;
  align-items: center;
}
header .weather-tide-container .tide-info .reservation ul li span {
  text-align: left;
  display: block;
}
header .weather-tide-container .tide-info .reservation ul li .place {
  color: #111;
}
header .weather-tide-container .tide-info .reservation ul li .label {
  color: #4a5df6;
  font-weight: bold;
}
header .weather-tide-container .tide-info .reservation ul li + li {
  margin-top: 10px;
}
header .weather-tide-container .tide-info .reservation ul li + li img {
  height: 33px;
}
header .weather-tide-container .tide-info .reservation ul li.prepare {
  background-color: rgba(17, 17, 17, 0.53);
}
header .weather-tide-container .tide-info .reservation ul li.prepare span {
  color: #fff;
  font-size: 14px;
  font-family: GmarketSans, sans-serif;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .weather-tide-container .tide-info .info {
  position: relative;
}
header .weather-tide-container .tide-info .info img {
  width: 25px;
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
header .weather-tide-container .tide-info .info .summary {
  color: #fff;
  padding-left: 39px;
}
header .weather-tide-container .tide-info .info .summary .location {
  font-size: 18px;
  font-family: GmarketSans, sans-serif;
  font-weight: 700;
}
header .weather-tide-container .tide-info .info .summary .address {
  font-size: 12px;
  font-family: Prentendard, sans-serif;
  font-weight: normal;
  margin-top: 5px;
  line-height: 1.2;
  letter-spacing: -1px;
}
header .weather-tide-container .tide-info div.weather {
  margin-top: 9px;
}
header .weather-tide-container .tide-info div.weather .weather-btn {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 30px;
  padding: 6px 15px;
  white-space: nowrap;
  display: flex;
  width: 100%;
}
header .weather-tide-container .tide-info div.weather .weather-btn * {
  vertical-align: middle;
}
header .weather-tide-container .tide-info div.weather .weather-btn div {
  font-size: 14px;
  font-family: Pretendard, sans-serif;
}
header .weather-tide-container .tide-info div.weather .weather-btn div.time {
  color: #111;
}
header .weather-tide-container .tide-info div.weather .weather-btn div.roundhigh {
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 17px;
  display: inline-block;
  color: #fff;
  font-size: 10px;
  border-radius: 50%;
  background-color: #0047ff;
}
header .weather-tide-container .tide-info div.weather .weather-btn div.roundrow {
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 17px;
  display: inline-block;
  color: #fff;
  font-size: 10px;
  border-radius: 50%;
  background-color: #ff0000;
}
header .weather-tide-container .tide-info div.weather .weather-btn div.height {
  color: #777777;
}
header .weather-tide-container .tide-info div.weather .weather-btn + button {
  margin-top: 6px;
}
header .weather-tide-container .details {
  box-sizing: border-box;
  padding-top: 100%;
  border-radius: 20px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
}
header .weather-tide-container .details .inner {
  padding: 15px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
header .weather-tide-container .details .info * {
  display: inline-block;
  vertical-align: middle;
}

body {
  padding-bottom: 63px;
}

.footer {
  font-size: 14px;
  font-family: Pretendard, sans-serif;
  text-align: center;
  color: #999;
  line-height: 1.6;
  margin-top: 50px;
  padding-bottom: 30px;
}
.footer .footer-links {
  margin-bottom: 10px;
}
.footer .footer-links a {
  color: #777777;
  text-decoration: none;
  margin: 0 10px;
}
.footer .footer-links a:hover {
  text-decoration: underline;
}
.footer .footer-address,
.footer .footer-copyright {
  font-size: 12px;
  color: #777777;
}
.footer .footer-copyright {
  color: #a8a8a8;
}

.page-main {
  background-color: #f2f4fd;
}
.page-main header {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: linear-gradient(-48deg, #5f85f9, #495bf5);
}

.main section.reservation {
  padding: 0 20px;
  margin-top: 30px;
}
.main section.reservation ul:after {
  content: "";
  display: block;
  clear: both;
}
.main section.reservation ul li {
  height: 74px;
  text-align: center;
  float: left;
  width: calc(50% - 5px);
  font-size: 14px;
  font-family: Pretendard, sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 22px 0;
  position: relative;
}
.main section.reservation ul li img {
  width: 43px;
  display: inline-block;
}
.main section.reservation ul li a {
  display: inline-block;
}
.main section.reservation ul li .text {
  display: inline-block;
}
.main section.reservation ul li span {
  text-align: left;
  display: block;
}
.main section.reservation ul li .place {
  color: #111;
}
.main section.reservation ul li .label {
  color: #4a5df6;
  font-weight: bold;
}
.main section.reservation ul li + li {
  margin-left: 10px;
}
.main section.reservation ul li.prepare {
  background-color: rgba(17, 17, 17, 0.53);
}
.main section.reservation ul li.prepare span {
  color: #fff;
  font-size: 14px;
  font-family: GmarketSans, sans-serif;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main section.normal {
  margin-top: 50px;
}
.main section.normal .section-title {
  font-size: 22px;
  font-family: GmarketSans, sans-serif;
  font-weight: 500;
  padding: 0 20px;
  box-sizing: border-box;
}
.main section.normal .section-title .btn-more {
  font-size: 14px;
  color: rgba(119, 119, 119, 0.5);
  float: right;
}
.main section.normal .list {
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.main section.normal .list::-webkit-scrollbar {
  display: none;
}
.main section.information .list {
  margin-top: 20px;
}
.main section.information .list .item {
  width: 160px;
  white-space: normal;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin-left: 20px;
  border-radius: 15px;
}
.main section.information .list .item a {
  padding: 15px 10px;
  display: block;
}
.main section.information .list .item a .badge {
  color: #f8f9fe;
  font-size: 10px;
  font-family: Pretendard, sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: #777;
  padding: 2px 8px;
  border-radius: 15px;
}
.main section.information .list .item a .date {
  font-size: 10px;
  font-family: Pretendard, sans-serif;
  font-weight: 300;
  color: #777;
  float: right;
}
.main section.information .list .item a .title {
  font-size: 14px;
  font-family: Pretendard, sans-serif;
  font-weight: 500;
  line-height: 20px;
  margin-top: 10px;
}
.main section.information .list .item a .detail {
  margin-top: 5px;
}
.main section.information .list .item a .detail p {
  color: #777;
  font-size: 12px;
  font-family: Pretendard, sans-serif;
  font-weight: 500;
  line-height: 17px;
}
.main section.information .list .item + .item {
  margin-left: 10px;
}
.main section.information .list .item + .item:last-child {
  margin-right: 20px;
}
.main section.application .category {
  padding: 0 20px;
}
.main section.application .category:after {
  content: "";
  display: block;
  clear: both;
}
.main section.application .category .menu {
  float: left;
  box-sizing: border-box;
  margin-top: 20px;
}
.main section.application .category .menu a {
  color: #fff;
  font-size: 14px;
  font-family: Pretendard, sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 8px 16px;
  display: inline-block;
  background-color: #ddd;
  border-radius: 30px;
}
.main section.application .category .menu a.active {
  background-color: #122e81;
}
.main section.application .category .menu + .menu {
  margin-left: 10px;
}
.main section.application .content {
  display: none; /* 초기 상태에서 모든 콘텐츠는 숨김 */
}
.main section.application .content.active {
  display: block; /* active 클래스가 추가된 경우 콘텐츠 표시 */
}
.main section.application .list {
  margin-top: 10px;
}
.main section.application .list .item {
  width: 225px;
  white-space: normal;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin-left: 20px;
  border-radius: 15px;
}
.main section.application .list .item a {
  padding: 15px 10px;
  display: block;
}
.main section.application .list .item a .date {
  font-size: 10px;
  font-family: Pretendard, sans-serif;
  font-weight: 300;
  color: #777;
  float: right;
}
.main section.application .list .item a .title {
  font-size: 14px;
  font-family: Pretendard, sans-serif;
  font-weight: 500;
  line-height: 20px;
}
.main section.application .list .item a .detail {
  margin-top: 5px;
}
.main section.application .list .item a .detail p {
  color: #777;
  font-size: 12px;
  font-family: Pretendard, sans-serif;
  font-weight: 500;
  line-height: 17px;
}
.main section.application .list .item + .item {
  margin-left: 10px;
}
.main section.application .list .item + .item:last-child {
  margin-right: 20px;
}
.main section.schedule {
  text-align: center;
  margin-top: 30px;
  padding: 0 20px;
  box-sizing: border-box;
}
.main section.schedule a {
  display: block;
  font-size: 16px;
  font-family: Pretendard, sans-serif;
  font-weight: 500;
  padding: 10px 0;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 15px;
}
.main section.schedule a img {
  display: inline-block;
  width: 35px;
  vertical-align: middle;
}
.main section.schedule a span {
  margin-left: 20px;
}
.main section.menu .menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4열 그리드 */
  gap: 10px;
  padding: 0 20px;
}
.main section.menu .menu .item {
  text-align: center;
}
.main section.menu .menu .item .image-container {
  width: 76px;
  height: 76px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
}
.main section.menu .menu .item .image-container img {
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main section.menu .menu .item .menu-name {
  color: #333;
  font-size: 14px;
  font-family: Pretendard, sans-serif;
  margin-top: 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* 카드 간격 */
  padding: 0 20px;
  margin-top: 20px;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* 호버 시 더 강한 그림자 */
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.badge {
  background-color: #777;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-family: Pretendard, sans-serif;
}

.due-date {
  font-size: 12px;
  font-family: Pretendard, sans-serif;
  color: #777;
}

.due-date strong {
  color: #172f84; /* 강조된 날짜 */
  font-weight: bold;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  font-family: Pretendard, sans-serif;
  color: #333;
  margin-bottom: 10px;
}

.card-description {
  font-size: 14px;
  color: #777;
  line-height: 1.5;
}

.banner img {
  width: 100%;
  display: block;
}

.section-grid {
  padding: 0 20px;
  margin-top: 30px;
}
.section-grid .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 30px;
  padding: 20px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: #e5e5e5;
  border-radius: 20px;
}
.section-grid .grid-title {
  font-size: 16px;
  text-align: center;
  line-height: 18px;
}
.section-grid .grid .grid-item {
  font-size: 11px;
  text-align: center;
  line-height: 12px;
}
.section-grid .grid .grid-item .icon {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 auto;
}
.section-grid .grid .grid-item .icon img {
  display: block;
  width: 60px;
}
.section-grid .grid .grid-item p {
  margin-top: 10px;
}

.section-description,
.section-search {
  margin-top: 16px;
  padding: 0 20px;
}

.section-search {
  display: flex;
}

.coupon-description {
  font-size: 13px;
  text-align: left;
  color: #000;
  line-height: 34px;
  border-radius: 10px;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1; /* 입력 필드가 남은 공간을 채우도록 설정 */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-icon {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.btn-reset {
  width: 72px;
  height: 40px;
  background-color: #1d3f92;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  margin-left: 10px;
  cursor: pointer;
}
.btn-reset span {
  padding-left: 16px;
  background: url(../../../images/new/ico-reset.svg) center left no-repeat;
}

.section-coupon {
  padding: 0 20px;
  margin-top: 30px;
}
.section-coupon .count {
  font-size: 14px;
  line-height: 16px;
}
.section-coupon .container {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 12px;
}
.section-coupon .left-section {
  padding: 20px;
  background-color: white;
  flex: 3;
}
.section-coupon .right-section {
  background-color: #082c86;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.section-coupon .right-section.bg-grey {
  background-color: #d9d9d9;
}
.section-coupon .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.section-coupon .row .button-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.section-coupon .row .button-group button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.section-coupon .row .badge-blue {
  display: inline-block;
  font-size: 11px;
  background-color: #3d6ef8;
  color: white;
  border-radius: 4px;
  padding: 6px 10px 6px 10px;
}
.section-coupon .row .badge-grey {
  display: inline-block;
  font-size: 11px;
  color: white;
  background-color: #707071;
  border-radius: 4px;
  padding: 6px 10px 6px 10px;
}
.section-coupon .row .balance {
  margin-left: auto;
  align-self: flex-end;
  font-size: 14px;
  margin-bottom: 10px;
}
.section-coupon .row .balance-amount {
  font-weight: bold;
  font-size: 20px;
}
.section-coupon button {
  background-color: #ddd;
  color: black;
}
.section-coupon .info {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 14px;
}
.section-coupon .info p {
  font-size: 12px;
  font-family: Pretendard, sans-serif;
}
.section-coupon .info p + p {
  margin-top: 4px;
}
.section-coupon .history-button {
  text-align: center;
  display: block;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.section-coupon .history-button p {
  font-family: Pretendard, sans-serif;
  font-weight: bold;
}
.section-coupon .history-button .small {
  font-size: 10px;
}
.section-coupon .history-button .standby {
  color: #000;
}
.section-coupon .history-button .check-done {
  color: #717171;
}
.section-coupon .history-button .check-done + p {
  color: #3d6ef8;
}
.section-coupon .history-button .check-miss {
  color: #717171;
}
.section-coupon .history-button .check-miss + p {
  color: #717171;
}

.section-coupon-detail .information {
  padding: 30px 20px;
  background-color: #fdf8f8;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.section-coupon-detail h2 {
  font-size: 20px;
  line-height: 22px;
}
.section-coupon-detail .coupon-information {
  text-align: center;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 20px;
  margin-top: 20px;
}
.section-coupon-detail .coupon-information .coupon-title {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-color: #3d6ef8;
  padding: 10px 0;
  border-radius: 20px;
}
.section-coupon-detail .coupon-information img {
  width: 240px;
  display: block;
  margin: 0 auto;
}
.section-coupon-detail .coupon-information .price {
  font-family: Pretendard, sans-serif;
  margin-top: 10px;
}
.section-coupon-detail .coupon-information .price .balance {
  font-size: 20px;
  vertical-align: middle;
}
.section-coupon-detail .coupon-information .price .balance-amount {
  color: #3d6ef8;
  font-size: 30px;
  font-weight: bold;
  margin-left: 15px;
  vertical-align: middle;
}
.section-coupon-detail .voucher-container {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  width: 300px;
  margin: 20px;
}
.section-coupon-detail .voucher-row {
  font-size: 14px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.section-coupon-detail .label {
  width: 100px;
  display: inline-block;
  font-weight: bold;
  color: #333;
}
.section-coupon-detail .value {
  display: inline-block;
  text-align: left;
  color: #000;
}
.section-coupon-detail .history-container {
  margin: 20px;
}
.section-coupon-detail .history-container h2 {
  font-size: 20px;
  font-weight: bold;
}
.section-coupon-detail .history-container .count {
  font-size: 14px;
  color: #555;
  margin-top: 20px;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}
.section-coupon-detail .history-container .history-list {
  border-top: 1px solid #000;
}
.section-coupon-detail .history-container .history-entry {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 0;
}
.section-coupon-detail .history-container .entry-header .date {
  font-size: 12px;
  color: #888;
}
.section-coupon-detail .history-container .entry-header .place {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}
.section-coupon-detail .history-container .entry-header .entry-detail {
  font-size: 12px;
  color: #082c86;
  margin-top: 6px;
}
.section-coupon-detail .history-container .amount {
  font-weight: bold;
}
.section-coupon-detail .history-container .positive {
  color: black;
}
.section-coupon-detail .history-container .negative {
  color: red;
} /*# sourceMappingURL=style.css.map */

/* TEST CSS */