.sub {
  margin-top: 80px;
  padding: 40px 0;
}
.sub .content-wrap {
  display: flex;
  width: 1600px;
  margin: 0 auto;
  gap: 0 100px;
}
.sub .content-wrap .sub-menu {
  width: 360px;
  height: fit-content;
  padding: 15px;
  padding-top: 40px;
  box-sizing: border-box;
  border-radius: 40px;
  background: linear-gradient(35deg, #495bf5 5%, #5f85f9, #78b5ff 95%);
  position: relative;
}
.sub .content-wrap .sub-menu form {
  display: flex;
  position: relative;
  height: 50px;
  border-radius: 30px;
  box-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.sub .content-wrap .sub-menu form input {
  width: 100%;
  border-radius: 30px;
  height: 100%;
  background-color: transparent;
  border: none;
  font-family: var(--font-default);
  font-size: 17px;
  padding: 0 20px;
  color: #fff;
}
.sub .content-wrap .sub-menu form input:focus-visible {
  outline: none;
}
.sub .content-wrap .sub-menu form input::placeholder {
  color: #fff;
  opacity: 0.6;
  letter-spacing: 1px;
}
.sub .content-wrap .sub-menu form button {
  height: 100%;
  font-size: 18px;
  white-space: nowrap;
  color: #fff;
  font-family: var(--font-default);
  padding: 0 25px;
  background: #092c86;
  border-radius: 30px;
  font-weight: 500;
}
.sub .content-wrap .sub-menu h1 {
  text-align: center;
  font-family: var(--font-sub);
  font-weight: 600;
  padding: 30px 0;
  border-radius: 25px 25px 0 0;
  background: linear-gradient(to right, #3e6ef8, #092c86);
  color: #fff;
  font-size: 30px;
  padding-bottom: 50px;
}
.sub .content-wrap .sub-menu > button {
  display: none;
}
.sub .content-wrap .sub-menu ul.depth-1 {
  background: #fff;
  padding: 20px 15px;
  margin-top: -20px;
  border-radius: 20px 20px 0 0;
}
.sub .content-wrap .sub-menu ul.depth-1 > li.on > a {
  color: #070052;
  font-weight: 600;
  border-bottom: 2px solid #070052;
}
.sub .content-wrap .sub-menu ul.depth-1 > li > a {
  display: flex;
  align-items: center;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  padding: 20px 15px;
  color: #444;
}
.sub .content-wrap .sub-menu ul.depth-1 > li > a::after {
  content: "";
  display: block;
  margin-left: auto;
  width: 22px;
  height: 22px;
  background: url(/images/sub/icon_subMenu_down.png) no-repeat center center;
  border-radius: 50%;
  overflow: hidden;
  background-size: contain;
}
.sub .content-wrap .sub-menu ul.depth-1 > li.on > a::after {
  background-image: url(/images/sub/icon_subMenu_up.png);
}
.sub .content-wrap .sub-menu ul.depth-1 > li ul.depth-2 {
  display: none;
}
.sub .content-wrap .sub-menu ul.depth-1 > li ul.depth-2 li a {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  padding: 20px;
}
.sub .content-wrap .sub-menu ul.depth-1 > li ul.depth-2 li a::after {
  content: "";
  display: inline-block;
  margin-left: auto;
  width: 6px;
  height: 10px;
  background: url(/images/sub/icon_subMenu.png) no-repeat center center;
}
.sub .content-wrap .sub-menu ul.depth-1 > li ul.depth-2 li.active a,
.sub .content-wrap .sub-menu ul.depth-1 > li ul.depth-2 li a:hover {
  color: #3e6ef8;
  font-weight: 500;
}
.sub .content-wrap .sub-menu ul.depth-1 > li ul.depth-2 li.active a::after,
.sub .content-wrap .sub-menu ul.depth-1 > li ul.depth-2 li a:hover::after {
  background-image: url(/images/sub/icon_subMenu_on.png);
}
.sub .content-wrap .sub-menu .short-cut {
  background: #fff;
  border-radius: 0 0 30px 30px;
  padding: 0 15px;
  padding-bottom: 30px;
}
.sub .content-wrap .sub-menu .short-cut ul {
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px 0;
}
.sub .content-wrap .sub-menu .short-cut ul li {
  width: calc(100% / 3);
}
.sub .content-wrap .content-body {
  width: calc(100% - 360px - 100px);
}
.sub .content-body .site-depth {
  margin: 25px 0;
}
.sub .content-body .site-depth ul {
  display: flex;
  align-items: center;
  gap: 0 20px;
  font-size: 16px;
}
.sub .content-body .site-depth ul li {
  position: relative;
  color: #444;
}
.sub .content-body .site-depth ul li:nth-child(1) {
  width: 15px;
  height: 15px;
  background: url(/images/sub/icon_home.png) no-repeat center center;
  overflow: hidden;
  color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sub .content-body .site-depth ul li:last-child {
  font-weight: 600;
}
.sub .content-body .site-depth ul li::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 12px;
  position: relative;
  left: -10px;
  background: url(/images/sub/icon_arr_depth.png) no-repeat center center;
}
.sub .content-body .content-title {
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-bottom: 1px solid #ddd;
}
.sub .content-body .content-title h1 {
  font-size: 32px;
  font-weight: 600;
}
.sub .content-body .content-title .share {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: auto;
}
.sub .content-body .content-title .share button {
  display: inline-flex;
  align-items: center;
  font-family: var(--font-default);
  font-size: 16px;
  color: #777;
  padding: 0 15px;
  border-right: 1px solid #ccc;
}
.sub .content-body .content-title .share button::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 10px;
}
.sub .content-body .content-title .share button:nth-of-type(2) {
  border-right: none;
}
.sub .content-body .content-title .share button.btn-copy::before {
  background: url(/images/sub/icon_share.png) no-repeat center center;
}
.sub .content-body .content-title .share button.btn-print::before {
  background: url(/images/sub/icon_print.png) no-repeat center center;
}
.sub .content-body .content-title .share > div {
  display: none;
  position: relative;
}
.sub .content-body .content-title .share > div.on::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -5px;
  transform: translateX(-50%);
  border-radius: 30px;
  width: 50px;
  height: 190px;
  background: #fff;
  border: 1px solid #ccc;
  z-index: -1;
}
.sub .content-body .content-title .share > div ul {
  display: none;
  position: absolute;
  left: 50%;
  top: 55px;
  transform: translateX(-50%);
}
.sub .content-body .content-title .share > div ul li a {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  color: transparent;
  overflow: hidden;
  background-size: contain !important;
}
.sub .content-body .content-title .share > div ul li.kakaotalk a {
  background: url(/images/sub/share_kakao.png) no-repeat center;
}
.sub .content-body .content-title .share > div ul li.facebook a {
  background: url(/images/sub/share_facebook.png) no-repeat center;
}
.sub .content-body .content-title .share > div ul li.blog a {
  background: url(/images/sub/share_blog.png) no-repeat center;
}
.sub .tab3List {
  display: none;
}
.sub .tab3List ul,
.sub .tab4List ul {
  margin: 0;
  display: flex;
}
.sub .tab3List ul li,
.sub .tab4List ul li {
  margin: 0;
  padding: 0;
  flex: 1;
}
.sub .tab3List ul li::before,
.sub .tab4List ul li::before {
  display: none;
}
.sub .tab3List ul li a,
.sub .tab4List ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 13px 13px 0 0;
  color: #787878;
  padding: 13px 5px;
  line-height: 1.25;
  font-size: 16px;
  background: #f8f9fc;
  word-break: keep-all;
}
.sub .tab3List ul li.active a,
.sub .tab4List ul li.active a {
  color: #fff;
  background: #3e6ef8;
  font-weight: 500;
}
.sub .tab4List + .borderBox {
  border-radius: 0 0 15px 15px;
}

.sub .slide-menu {
  border: 1.5px solid #092c86;
  border-radius: 15px;
  padding: 10px 0;
  margin-bottom: 30px;
  background: #f8f9fc;
}
.sub .slide-menu ul {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
}
.sub .slide-menu ul li {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  min-width: 16%;
}
.sub .slide-menu ul li::before {
  display: none;
}
.sub .slide-menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 3px 15px;
  font-size: 16px;
  text-align: center;
  position: relative;
}
.sub .slide-menu ul li a::after {
  content: "";
  width: 1px;
  height: 18px;
  background-color: #ddd;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.sub .slide-menu ul li:last-child a::after {
  display: none;
}
.sub .slide-menu ul li.active a {
  color: #3e6ef8;
  font-weight: 500;
  text-decoration: underline;
  text-underline-position: under;
}

@media screen and (max-width: 1024px) {
  .sub {
    padding-top: 0;
  }
  .sub .content-body .content-title {
    margin-bottom: 20px;
  }
  .sub .content-body .content-title .share button {
    font-size: 14px;
    padding: 0 10px;
    border: none;
  }
  .sub .content-body .content-title .share .btn-print {
    display: none;
  }
  .sub .content-wrap {
    width: 100%;
    flex-wrap: wrap;
  }
  .sub .content-wrap .sub-menu {
    width: 100%;
    padding: 0;
    margin-top: -40px;
    border-radius: 0;
    background: linear-gradient(to right, #3e6ef8, #092c86);
    margin-bottom: 30px;
  }
  .sub .content-wrap .sub-menu h1 {
    border-radius: 0;
    padding-top: 90px;
    padding-bottom: 30px;
    background: none;
  }
  .sub .content-wrap .sub-menu > button {
    display: flex;
    align-items: center;
    min-width: 200px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    top: 50px;
    left: 5%;
    text-align: left;
    color: #333;
    padding: 0;
    font-family: var(--font-default);
    line-height: 1;
  }
  .sub .content-wrap .sub-menu > button::after {
    content: "";
    display: block;
    margin-left: auto;
    width: 22px;
    height: 22px;
    background: url(/images/sub/icon_subMenu_down.png) no-repeat center center;
    border-radius: 50%;
    overflow: hidden;
    background-size: contain;
  }
  .sub .content-wrap .sub-menu ul.depth-1 {
    display: none;
    margin-top: 0;
    padding: 0;
    position: absolute;
    left: 5%;
    top: 275px;
    z-index: 100;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    width: 200px;
    border-radius: 15px;
    overflow: hidden;
  }
  .sub .content-wrap .sub-menu ul.depth-1 > li > a::after {
    width: 16px;
    height: 16px;
  }
  .sub .content-wrap .sub-menu ul.depth-1 > li ul.depth-2 {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    background: #fafafa;
  }
  .sub .content-wrap .sub-menu ul.depth-1 > li ul.depth-2 li a {
    border-bottom: none;
    font-size: 14px;
    padding: 7px 15px;
  }
  .sub .content-wrap .sub-menu ul.depth-1 > li ul.depth-2 li a::after {
    width: 4px;
    height: 8px;
    background-size: contain !important;
  }
  .sub .content-wrap .sub-menu form {
    display: none;
  }
  .sub .content-wrap .sub-menu .short-cut {
    display: none;
  }
  .sub .content-wrap .content-body {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }
  .sub .content-body .site-depth {
    display: none;
  }
  .sub .content-body .content-title h1 {
    display: none;
  }
  .sub .tab3List {
    display: block;
    margin-bottom: 30px;
  }
  .sub .tab3List ul li a,
  .sub .tab4List ul li a {
    font-size: 15px;
  }
  .sub .tab4List + .search-box {
    border-radius: 0 0 10px 10px;
    margin-top: -30px;
    border-top: none;
  }
  .sub .slide-menu {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    overflow: hidden;
  }
  .sub .slide-menu::after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 55px;
    background: #092c86 url(/images/sub/icon_scroll.png) no-repeat center center;
    border-left: 1px solid #ccc;
  }
  .sub .slide-menu ul {
    width: calc(100% - 60px);
    height: 55px;
    flex-wrap: unset;
    overflow: auto;
  }
  .sub .slide-menu ul li {
    min-width: unset;
  }
  .sub .slide-menu ul li a {
    height: 100%;
    padding: 3px 20px;
  }
}

@media screen and (max-width: 768px) {
  .sub {
    margin-top: 0;
  }
  .sub .mobile-depth1 {
    position: relative;
  }
  .sub .mobile-depth1 > button {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 0 7px;
    background: #f2f4fd;
    width: 100%;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 14px 0;
    line-height: 1;
    font-family: "GMarket";
    font-weight: 500;
  }
  .sub .mobile-depth1 > button::after {
    content: "";
    display: inline-block;
    font-size: 10px;
    color: #333;
    width: 10px;
    height: 6px;
    background: url(/images/sub/icon_triangle.png) no-repeat center center;
    position: relative;
    top: -2px;
  }
  .sub .mobile-depth1 ul {
    display: flex;
    overflow: auto;
    width: 100%;
    background: #f2f4fd;
    border-bottom: 1px solid #ccc;
  }
  .sub .mobile-depth1 ul li {
    flex: 1;
  }
  .sub .mobile-depth1 ul li a {
    display: block;
    font-size: 13px;
    font-family: "GMarket";
    font-weight: 500;
    padding: 15px 20px;
    color: #333;
    white-space: nowrap;
    line-height: 1;
  }
  .sub .mobile-depth1 ul li.on a {
    color: #3e6ef8;
  }
  .sub .content-wrap .sub-menu {
    background: none;
    margin-top: 70px;
  }
  .sub .content-wrap .sub-menu > button {
    display: none;
    position: static;
    width: 100%;
    justify-content: center;
    font-size: 14px;
    background: #f2f4fd;
    padding: 11px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .sub .content-wrap .sub-menu > button::after {
    margin-left: 10px;
  }
  .sub .content-wrap .sub-menu ul.depth-1 {
    display: flex;
    gap: 0 10px;
    position: static;
    width: 100%;
    border-radius: 0;
    box-shadow: unset;
    background: #f2f4fd;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    overflow: auto;
  }
  .sub .content-wrap .sub-menu ul.depth-1 > li > a {
    font-size: 13px;
    padding: 10px 13px;
    white-space: nowrap;
    background: #d9d9d9;
    border-radius: 4px;
  }
  .sub .content-wrap .sub-menu ul.depth-1 > li.on > a {
    border: none;
    color: #fff;
    background: #3e6ef8;
  }
  .sub .content-wrap .sub-menu ul.depth-1 > li > a::after {
    display: none;
  }
  .sub .content-wrap .sub-menu ul.depth-1 > li:last-child > a {
    border-bottom: 0;
  }
  .sub .content-wrap .sub-menu ul.depth-1 > li ul.depth-2 {
    display: none !important;
  }
  .sub .content-wrap .sub-menu {
    margin-bottom: 15px;
  }
  .sub .content-wrap .sub-menu h1 {
    display: none;
  }
  .sub .content-wrap .content-body {
    overflow: unset;
  }
  .sub .content-body .content-title {
    display: none;
  }
  .sub .tab3List {
    margin-bottom: 20px;
    position: relative;
    margin-top: -15px;
  }
  .sub .tab3List::before {
    content: "";
    width: 100vw;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
  .sub .tab3List ul li a {
    border: none;
    background: transparent;
    border-radius: 0;
  }
  .sub .tab3List ul li.active a {
    background-color: transparent;
    color: #333;
    font-weight: 600;
    border-bottom: 2px solid #333;
  }
  .sub .tab3List ul li a,
  .sub .tab4List ul li a {
    font-size: 14px;
    padding: 13px 5px;
    border-radius: 0;
  }
  .sub .slide-menu {
    border-radius: 10px;
  }
  .sub .slide-menu ul {
    width: calc(100% - 45px);
    height: 45px;
  }
  .sub .slide-menu::after {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 380px) {
  .sub .tab3List ul li a {
    font-size: 13px;
  }
}
